{% extends "base.html" %}
{% block title %} Cadastro {% endblock %}
{% block content %}

<div class="page-wrap">
<div class="wrap3">  
  <div class="leftcol">
  <div class="panel">
  	<div class="title">
  		<h1>Cadastro de infos dos Dispositivos: </h1>
        
    </div>
      <div class="panel">
      
      
      <form action="dispositivos/registrar_dispositivo" method="POST">
          <div class="contact-form mar-top30">
            <label> <span>Nome do Dispositivo:</span>
              <input type="text" class="input_text" name="nome" id="nome"/>
              </label>
              <label> <span>Descrição: </span>
              <input type="text" class="input_text" name="descricao" id="descricao"/>
              
              <label>
                <span>Status:</span>
                <div id="caixaa">
                  <div class="separar">
                    <input type="checkbox" name="status" value="True" checked />
                    <h3>Ligado</h3>
                  </div>
                  <div class="separar">
                    <input type="checkbox" name="status" value="False" />
                    <h3>Desligado</h3>
                  </div>
                </div>
              </label>
              
          
                
            <button type="submit" class="button">Enviar</button>
          </div>
        </form>
        <div class="clearing"></div>
      </div>
  </div>	
  </div>
  
    
  <div class="clearing"></div>
</div>    
</div><!---page-wrap-End--->



{% endblock %}
{% block class10 %} class = 'active' {% endblock %}
