{% extends "base.html" %}
{% block title %} Sobre {% endblock %}
{% block content %}

<div class="page-wrap">
  <div class="wrap3">  
    <div class=" leftcol">
      <div class="panel">
        <div class="title">
          <h1>Sobre </h1>
          <span>Iluminando o caminho para uma cidade mais segura.</span>
        </div>
        <div class="content">
          <p> A Lumen Pass é uma ideia inovadora que pode aumentar a segurança nas ruas e calçadas. Essa tecnologia é chamada de "faixa de pedestre inteligente" e utiliza sensores para detectar a presença de pedestres e veículos, acendendo as luzes na faixa de pedestres para alertar os motoristas de que há alguém atravessando a rua.

            A principal vantagem de uma faixa de pedestre inteligente é que ela pode reduzir o risco de acidentes de trânsito, especialmente em áreas com alto tráfego de pedestres e veículos. Quando um pedestre se aproxima da faixa, os sensores detectam sua presença e acendem as luzes, alertando os motoristas de que há alguém atravessando a rua. Isso aumenta a visibilidade do pedestre e reduz a chance de ser atropelado.
            
            Além disso, a faixa de pedestre inteligente pode ser uma opção acessível e sustentável em comparação com outras tecnologias. Como utiliza sensores para detectar a presença de pedestres e veículos, a faixa só acende quando necessário, economizando energia e reduzindo os custos de manutenção.
            
            Existem diferentes tipos de sensores que podem ser utilizados em uma faixa de pedestre inteligente. Alguns modelos utilizam sensores de pressão, que são instalados sob a superfície da faixa e detectam o peso dos pedestres. Quando o sensor detecta a presença de um pedestre, ele aciona o sistema de iluminação, que acende as luzes da faixa de pedestres.
            
            Outro tipo de sensor que pode ser utilizado é o sensor de movimento, que detecta a presença de pessoas ou veículos por meio do movimento. Esses sensores são instalados na faixa de pedestres ou na estrada e detectam a presença de pedestres e veículos que se aproximam da faixa.</p>
          </div>
      </div>	
    </div>
    
      
  </div>    
</div><!---page-wrap-End--->



{% endblock %}
{% block class2 %} class = 'active' {% endblock %}