{% extends "base.html" %}
{% block title %} Cadastro {% endblock %}
{% block content %}

<div class="page-wrap">
<div class="wrap3">  
  <div class="leftcol">
  <div class="panel">
  	<div class="title">
  		<h1>Cadastro de infos dos Sensores: </h1>
        
    </div>
      <div class="panel">
      
      
      <form action="/registrar_sensor" method="POST">
          <div class="contact-form mar-top30">
            <label> <span>Nome do Sensor:</span>
              <input type="text" class="input_text" name="nome" id="nome"/>
              </label>
              <label> <span>Descrição: </span>
              <input type="text" class="input_text" name="descricao" id="descricao"/>
              
              <label> <span>tipo:</span>
                <input type="text" class="input_text" name="tipo" id="tipo"/>
              
              <!-- <h2>limite de proximdade: </h2> -->
              <label> <span>limite de proximdade:</span>
                <input type="text" class="input_text" name="limite_proximidade" id="limite_proximidade"/>
              
                
            <button type="submit" class="button">Enviar</button>
          </div>
        </form>
        <div class="clearing"></div>
      </div>
  </div>	
  </div>
  
    
  <div class="clearing"></div>
</div>    
</div><!---page-wrap-End--->



{% endblock %}
{% block class4 %} class = 'active' {% endblock %}
