{% extends "base.html" %}
{% block title %} Visualizar Faixa {% endblock %}
{% block content %}

<div class="page-wrap">
<div class="wrap3">  
  <div class="leftcol">
  <div class="panel">
  	<div class="title">
  	<h1>Visualização da Faixa: </h1>
    </div>
      <div class="panel">
      
      
      <form>
          <div class="contact-form mar-top30">
            <h2>Faixa 1</h2>
            <button type="submit" class="button">Ligar Sensor 1</button>
            <button type="submit" class="button">Ligar Sensor 2</button>
            <button type="submit" class="button">Ligar Sensor 3</button>
            <button type="submit" class="button">Ligar Sensor 4</button>
            <h2>Faixa 2</h2>
            <button type="submit" class="button">Ligar Sensor 1</button>
            <button type="submit" class="button">Ligar Sensor 2</button>
            <button type="submit" class="button">Ligar Sensor 3</button>
            <button type="submit" class="button">Ligar Sensor 4</button>
            <h2>Faixa 3</h2>
            <button type="submit" class="button">Ligar Sensor 1</button>
            <button type="submit" class="button">Ligar Sensor 2</button>
            <button type="submit" class="button">Ligar Sensor 3</button>
            <button type="submit" class="button">Ligar Sensor 4</button>
            <h2>Faixa 4</h2>
            <button type="submit" class="button">Ligar Sensor 1</button>
            <button type="submit" class="button">Ligar Sensor 2</button>
            <button type="submit" class="button">Ligar Sensor 3</button>
            <button type="submit" class="button">Ligar Sensor 4</button>
          </div>
        </form>
        <div class="clearing"></div>
      </div>
  </div>	
  </div>
  
</div></div>    

{% endblock %}
{% block class5 %} class = 'active' {% endblock %}
